.form {
    width:700px;
    background-color: transparent;
    /* background-color:#556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px; */
}
.btn{
    background-color: #CDECFF;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
}
.conta > input{
    height: 40px;
    width:25em;
    
}
.conta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding:  0.5em 0;
    border-radius: 0.2em;
}