@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

body {
  margin: 0;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Recursive', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#19A974;
  background-color: #5E2CA5;
  background-color: #F4F4F4;
  background-color: #9EEBCF;
}
button {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
